.aboutRow{
    background-image: linear-gradient(rgb(215, 198, 198), rgb(208, 204, 204));
}
.aboutCol{
    margin-top: 90px;
    margin-bottom: 50px;
    line-height: 35px;

   
}
.aboutCarousel{
    margin-left: 80px;
    margin-top: 30px;
    /* margin: auto; */
    width: 70%;
    height: 350px;
    margin-bottom: 60px;
}